<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Buenas tardes, <br>{{ user_firstName }}</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-avatar>
            <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <app-home-progress></app-home-progress>

  <ion-item>
    <ion-label>
      <h1>Tareas para hoy:</h1>
    </ion-label>
  </ion-item>
  <app-list></app-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
