<ion-content [fullscreen]="true" class="ion-text-center ion-padding-vertical">
  <div class="container-vcenter">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-img style="max-width: 400px;margin: 0 auto" class="ion-text-center" src="../../../assets/logo.svg"></ion-img>
      </ion-toolbar>
    </ion-header>
  
    <div class="ion-margin">
      <ion-item>
        <ion-input [(ngModel)]="email" label="Correo electrónico" type="email" labelPlacement="floating" placeholder="Correo electrónico"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input [(ngModel)]="password" type="password" label="Contraseña" type="password" labelPlacement="floating" placeholder="Contraseña"></ion-input>
      </ion-item>
  
      <ion-button (click)="submit()" class="ion-margin-top" expand="full">Iniciar sesión</ion-button>
      <ion-button expand="full" color="dark" fill="outline" routerLink="/registro">Crear cuenta</ion-button>
    </div>
  </div>
</ion-content>
